pre {
  padding: 5px;
  margin: 5px;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

.validField {
  border: 2px solid green;
  color: black;
}

.invalidField {
  border: 2px solid red;
  background-color: #fcc;
  color: black;
}

.subtitle {
  text-align: left;
}

.input-icons i {
  position: absolute;
  align-items: right;
}

.right-addon {
  right: 0px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  padding-left: 40px;
  text-align: left;
  font-size: 20px;
  height: 30px;
  width: 400px;
}

.input-field:focus {
  /* border: 1px solid black; */
  background-color: lightcyan;
  color: black;
}

.form-input {
  max-width: 600px;
}

#register-button {
  margin-left: 40px;
  border: 1px solid black;
  background-color: #61dafb;
  width: 20vw;
  height: 50px;
  font-size: 20px;
  border-radius: 4px;
}

#password-strength-meter {
  margin-left: 40px;
  height: 10px;
  max-width: 400px;
  position: 'relative';
}

#password-strength {
  padding-left: 40px;
  margin-top: 2px;
  margin-left: 1px;
  height: 8px;
}

.password-requirements {
  padding-left: 40px;
  width: 400px;
  opacity: 0;
  transition: 0.28s;
  overflow: hidden;
  /* color: #999; */
  font-style: italic;
}

.name-email-requirements {
  width: 400px;
  /* color: #999; */
  transition: 0.28s;
  overflow: hidden;
  font-style: italic;
}

.preview {
  transform: scale(0.8);
}

ul {
  list-style-type: none;
}

input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

.hide {
  display: none;
}
