ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 50%;
  width: auto;
  height: 100%;
  background-color: #f7f7f7;
}

.navbar {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  color: #61dafb;
  overflow-x: hidden;
  float: left;
  padding-top: 0px;
  display: block;
  text-align: right;
  position: fixed;
  font-size: 28px; /* Increased text to enable scrolling */
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.active {
  color: darkgray;
}

.NotCurrentRoute {
  color: #000;
}

.navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  color: #a3a3a3;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #555;
  color: white;
}

.navbar li a:active {
  color: #61dafb;
}

.navbar li a.currentRoute {
  color: #181818;
  font: bolder;
}
